.palette {
	margin: 10px;
}

.palette div {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0px 0px 50px 0px;
}

.cell-container {
	clear:both;
	margin: 10px;
}

.cell-container div {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0px;
}